<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.HomeIndex</h1>
    <div class = header>
        <p><a href="">Home</a> | <a href="projects">Project</a> | <a href="contact">Contact</a></p>
    </div>
    <h3>About Me</h3>
    <div class = "home_blocks">
        <img class = "me" src = "images/GTFQ2798.JPG", alt = "herbs">
        <p>Welcome!</p>
    </div>
    <div class = "home_blocks">
        <p>Some information about me</p>
    </div>
</body>
</html>