<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.Projects</h1>

    <div class = header>
        <p><a href="/">Home</a> | <a href="projects">Project</a> | <a href="contact">Contact</a></p>
    </div>
    <h3>Here are some projects of mine</h3>
    <div class = projects>
        <div class = "projects_content">
            <div class = "one_project1">
                <img class = "projects_img" src = "images/GTFQ2798.JPG", alt = "herbs">
            </div>
            <div  class = "one_project">
                <h4>Title of Project</h4>
                <p>Nice PRoject!</p>
            </div>
        </div>

        <div class = "projects_content">
            <div class = "one_project1">
                <img class = "projects_img" src = "images/GTFQ2798.JPG", alt = "herbs">
            </div>
            <div  class = "one_project">
                <h4>Title of Project</h4>
                <p>Nice PRoject!</p>
            </div>
        </div>



        <div class = "projects_content">
            <div class = "one_project1">
                <img class = "projects_img" src = "images/GTFQ2798.JPG", alt = "herbs">
            </div>
            <div  class = "one_project">
                <h4>Title of Project</h4>
                <p>Nice PRoject!</p>
            </div>
        </div>

    </div>
</body>
</html>